*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    max-width: 1920px;
}

/* css for header */
header{
    width: 100%;
    height: 70px;
    /* border-style: solid; */
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);   /*nav shadow*/
    display: flex;
    align-items: center;
}

/* css for footer */
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: center;
    color: white;
    margin-top: 30px;
}

/* css for navigation bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
    /* border-style: solid; */
}

.nav-left {
    width: 20%;
}

.nav-center {
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    display: flex;      /*work align items, justify content and display together*/
    align-items: center;
    justify-content: space-evenly;
}

/* css for navigation bar text */
a{
    text-decoration: none;  /*remove text underline*/
}

active{
    color: #ff4c4c;     /*highlighting the selected page*/
}

others{
    color: #888;           /*highlighting the others*/ 
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.nav-right div{
    margin: 0 10px;
    text-align: center;
    font-size: 30px;
    
}

.search-bar {
    background: #ecebeb;
    line-height: 40px;
    border-radius: 50px;
}

.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    width: 50%;
}

.search-bar i{
    color: #727070;
    margin-left: 10px;
}

/* home background color */
.home {
    background: linear-gradient(180deg,#2C3242,#1A1A20,#17161B);
}

/* css for sale */
.sale{
    color: red;
    font-weight: 1000;
    font-size: 30px;
    /* background: grey; */
}

.sale marquee{
    margin-top: 20px;
    margin-bottom: -20px;
}

/* css for photo video */
.home-screen {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: auto;
    margin: 30px auto;
    /* border-style: solid; */
    height: auto;
    background: black;
}

.home-screen img{
    /* margin-right: -0.1%; */
    width: 50%;
    height: auto;
    /* margin-left: -10%; */
}

.home-screen a{
    display: flex;
    align-items: center;
    margin: 0px auto;
}

/* tagline strokes */

hr{
    width: 95%;
    margin: 1px auto;
    border-color: black;
}

/* css for tagline */
.tagline{
    width: 94%;
    margin: 10px auto;
}

.tagline h1{
    color: white;
    text-align: center;
    /* background: linear-gradient(90deg,white,black,white); */
}

/* css for image slider */

.slider{
    width: 1340px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    border-style: solid;
    margin: 20px auto;
}

.slides{
    width: 500%;
    height: auto;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: auto;
    transition: 2s;
}

.slide img{
    width: 1340px;
    height: 400px;
}


/* slides setting */
#radio1:checked ~ .first{
   margin-left: 0; 
}
#radio2:checked ~ .first{
    margin-left: -1340px; 
}
#radio3:checked ~ .first{
    margin-left: -2680px; 
}
#radio4:checked ~ .first{
    margin-left: -4020px; 
}

/* css for manual slides navigation*/

.navigation-manual{
    position: absolute;
    width: 1340px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    }
    
    .manual-btn{
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    
    .manual-btn:hover{
        background: white;
    }
    

 /* css for automatic navigation */

.navigation-auto{
    position: absolute;
    width: 1340px;
    margin-top: 374px;
    display: flex;
    justify-content: center;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child){
    margin-right:40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(255, 255, 255);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(255, 255, 255);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(255, 255, 255);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(255, 255, 255);
}



/* css for category section */
.categories{
    width: 94%;
    height: 450px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: -30px;
}

.categories .men-shoes{
    position: relative;
    width: 250px;
    height: 400px;
    background: linear-gradient(180deg,#DF6B00,#8E0000,#60261A);
    /* border-style: solid; */
    /* border-width: 9px; */
    /* border-color: red; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    transition: transform .2s;  /*animation*/
}

.men-shoes:hover {
    transform: scale(1.1);
}

.men-shoes img{
    width: 110%;
    height: 105.2%;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: 20px;
}

.categories .women-shoes{
    position: relative;
    width: 250px;
    height: 400px;
    background: linear-gradient(180deg,#ffa34d,#ff5c5c,#3220ff);
    /* border-style: solid;
    border-width: 9px;
    border-color: pink; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    transition: transform .2s;  /*animation*/
}

.women-shoes:hover {
    transform: scale(1.1);
}

.women-shoes img{
    width: 110%;
    height: 105.1%;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: 20px;
}

.categories .kid-shoes{
    position: relative;
    width: 250px;
    height: 400px;
    background: linear-gradient(180deg,#5c7dff,#5b9800,#007623);
    /* border-style: solid;
    border-width: 9px;
    border-color: blue; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    transition: transform .2s;  /*animation*/
}

.kid-shoes:hover {
    transform: scale(1.1);
}

.kid-shoes img{
    width: 110%;
    height: 105.2%;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: 20px;
}

/* category pages */

h1{
    color: #ecebeb;
    margin-left: 5%;
}

h2{
    color: #ecebeb;
    margin-left: 5%;
    margin-top: 10%;
}

.old-price {
    text-decoration: line-through;
    color: #dcd8d8;
    font-size: 15px;
    font-weight: 100;
}


/* men */

.men-products{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    width: 94%;
    margin: 30px auto;
    /* border-style: solid; */
}

/* men-product-1 */

.men-product-1{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#FC6565,#8E0000);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 40px;
    transition: transform .2s;  /*animation*/
}

.men-product-1:hover {
    transform: scale(1.1);
}

.men-product-1 img{
    width: 120%;
    margin-top: -20%;
    margin-left: -10%;
}

.men-product-1 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #8E0000;
    border-radius: 20px;
    margin-left: 35%;
}


/* men-product-2 */

.men-product-2{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#FFDA56,#DF6B00);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 70px;
    transition: transform .2s;  /*animation*/
}

.men-product-2:hover {
    transform: scale(1.1);
}

.men-product-2 img{
    width: 120%;
    margin-top: -20%;
    margin-left: -10%;
}

.men-product-2 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #DF6B00;
    border-radius: 20px;
    margin-left: 35%;
}

/* men-product-3 */

.men-product-3{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#B4857B,#60261A);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 100px;
    transition: transform .2s;  /*animation*/
}

.men-product-3:hover {
    transform: scale(1.1);
}

.men-product-3 img{
    width: 120%;
    margin-top: -20%;
    margin-left: -10%;
    /* margin-bottom: 30%; */
}

.men-product-3 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #60261A;
    border-radius: 20px;
    margin-left: 35%;
}

/* women */

.women-products{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    width: 94%;
    margin: 30px auto;
    /* border-style: solid; */
}

/* women-product-1 */

.women-product-1{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#ffd6d6,#ff5c5c);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 40px;
    transition: transform .2s;  /*animation*/
}

.women-product-1:hover {
    transform: scale(1.1);
}

.women-product-1 img{
    width: 150%;
    margin-top: -17%;
    margin-bottom: 10%;
    margin-left: -25%
}

.women-product-1 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #ff5c5c;
    border-radius: 20px;
    margin-left: 35%;
}


/* women-product-2 */

.women-product-2{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#ffea9d,#e68021);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    /* -webkit-text-stroke: .1px black; */
    margin-top: 70px;
    transition: transform .2s;  /*animation*/
}

.women-product-2:hover {
    transform: scale(1.1);
}

.women-product-2 img{
    width: 115%;
    margin-top: -20%;
    margin-bottom: 10%;
    margin-left: -7%;
    rotate: -10deg;
}

.women-product-2 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #e68021;
    border-radius: 20px;
    margin-left: 35%;
}

/* women-product-3 */

.women-product-3{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#d2caff,#3220ff);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 100px;
    transition: transform .2s;  /*animation*/
}

.women-product-3:hover {
    transform: scale(1.1);
}

.women-product-3 img{
    width: 110%;
    margin-top: -4%;
    margin-bottom: 20%;
    margin-left: -4%;
}

.women-product-3 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #3220ff;
    border-radius: 20px;
    margin-left: 35%;
}

/* Kids */

.kids-products{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    width: 94%;
    margin: 30px auto;
    /* border-style: solid; */
}

/* kids-product-1 */

.kids-product-1{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#d6e0ff,#5c7dff);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 40px;
    transition: transform .2s;  /*animation*/
}

.kids-product-1:hover {
    transform: scale(1.1);
}

.kids-product-1 img{
    width: 110%;
    margin-top: -10%;
    /* margin-left: -10%; */
}

.kids-product-1 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #5c7dff;
    border-radius: 20px;
    margin-left: 35%;
}


/* kids-product-2 */

.kids-product-2{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#dbff9d,#5b9800);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 70px;
    transition: transform .2s;  /*animation*/
}

.kids-product-2:hover {
    transform: scale(1.1);
}

.kids-product-2 img{
    width: 110%;
    margin-top: -10%;
    /* margin-left: -10%; */
}

.kids-product-2 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #5b9800;
    border-radius: 20px;
    margin-left: 35%;
}

/* kids-product-3 */

.kids-product-3{
    position: relative;
    width: 310px;
    height: 420px;
    background: linear-gradient(180deg,#80ff9e,#007623);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: left;
    margin-top: 100px;
    transition: transform .2s;  /*animation*/
}

.kids-product-3:hover {
    transform: scale(1.1);
}

.kids-product-3 img{
    width: 110%;
    margin-top: -7%;
    margin-bottom: 30%;
    margin-left: -12%;
    rotate: -15deg;
}

.kids-product-3 .add-to-cart {
    padding: 0 15px;
    background: #ecebeb;
    color: #007623;
    border-radius: 20px;
    margin-left: 35%;
}